<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
	</typeAliases>
	
	<typeHandlers>
	</typeHandlers>
		
	<environments default="development">
		<environment id="development">
			<transactionManager type="MANAGED" >
				<property name="closeConnection" value="true"/>
				<property name="useGeneratedKeys" value="true"/>
				<property name="mapUnderscoreToCamelCase" value="true"/>
			</transactionManager>
			<dataSource type="JNDI">
				<property name="data_source" value="java:jboss/datasources/itKnowledgeCloudDS"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="db/mappers/UsersMapper.xml"/>
	</mappers>
</configuration>
